body {
  font-size:12pt;
}
#front {
  position:relative;
  width:114px;
  height:44px;
  background-color:#EBF0FA;
  background: -webkit-canvas(bgcan);
  -webkit-border-radius:7px;
}
form {
  display:block;
  position:relative;
  height:100%;
}
input {
  padding:1px;
  width:20px;
  height:15px;
  border:none;
  -webkit-border-radius:3px;
  font-family: 'Consolas', 'Monaco', 'Courier';
  font-size:12px;
  text-align:center;
}
#start {
  position: absolute;
  top: 4px;
  right: 21px;
}
#stop {
  position: absolute;
  top: 4px;
  right: 4px;
}
#hours {
  position: absolute;
  top: 4px;
  left: 4px;
}
#minutes {
  position: absolute;
  top: 4px;
  left: 28px;
}
#seconds {
  position: absolute;
  top: 4px;
  left: 52px;
}