body {
  font-size:12pt;
}
#front {
  position:relative;
  left: 20px;
  width:147px;
  height:30px;
  background-color:#B5C4E3;
  /*background: -webkit-canvas(bgcan);*/
  -webkit-border-radius:4px;
  -webkit-box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.45);
}
form {
  display:block;
  position:relative;
  height:100%;
}
input {
  padding: 0 1px 0 1px;
  width:18px;
  height:16px;
  -webkit-border-radius: 1px;
  border: none;
  /*border: 1px solid #757C8A;*/
  line-height: 15px;
  font-size:11px;
  font-family: 'Consolas', 'Monaco', 'Courier';
  text-align: center;
}
#start {
  position: absolute;
  top: 7px;
  right: 51px;
}
#stop {
  position: absolute;
  top: 7px;
  right: 34px;
}
#hours {
  position: absolute;
  top: 7px;
  left: 7px;
}
#minutes {
  position: absolute;
  top: 7px;
  left: 31px;
}
#seconds {
  position: absolute;
  top: 7px;
  left: 55px;
}
#flipper {
  position: absolute;
  top: 8px;
  left: -20px;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 2px;
  background-color: #B5C4E3;
  /* Hack around Apple's positioning */
  border-color: #B5C4E3;
  border-style: solid;
  border-width: 1px 0 0 1px;
}
#drag {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-left: 1px solid #253557;
  background: -webkit-gradient(linear,
    left top, right top,
    from(#2E426B),
    to(#1F2C47)
  );
  cursor: move;
}